@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');
h1 {
    font-family: Abril Fatface;
    text-align: center;
}
body {
    font-family: Source Sans Pro;
    background-color: #eee;
    padding-top: 1em;
}
h2, h4 {
    font-family: Roboto Slab;
}
h5 {
    color: #dd3232;
    font-family: Abril Fatface;
}
.newspaper-container {
    background-color: white;
    width: 700px;
    border-radius: 1em;
    padding: 1em;
    border-color: #eee;
    box-shadow: 0.25em 0.25em #ddd;
    margin: auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
li {
    float: left;
}
li a {
    display: block;
    color: #777;
    text-align: center;
    padding: 0.5em;
    text-decoration: none;
}
nav {
    border-top: 0.15em solid #eee;
    border-bottom: 0.15em solid #eee;
}
.date {
    font-size: 0.8em;
    text-align: left;
}
.more-articles {
    border-top: 0.15em solid #eee;
}